body {
  margin: 0;
  background-color: #0d1321;
  color: #f0ebd8;
  height: auto;
}

@keyframes headerMove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mainEnter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
header {
  animation: forwards headerMove 1s;
}

main {
  animation: forwards mainEnter 1s;
}

p {
  font-size: larger;
}

#intro {
  font-size: x-large;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 95%;
}

.contactLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 70%;
  background-color: #3e5c76;
  border: 3px solid black;
  border-radius: 2rem;
}
.links #socials {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.links #socials a i {
  font-size: 3rem;
}

.contact-form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
  min-width: 70%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #3e5c76;
  border: 3px solid black;
  border-radius: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem;
  margin: 2rem auto;
  width: 90%;
  background-color: #3e5c76;
  border-radius: 2rem;
}
.contact-form form .emailInp {
  width: 85%;
  height: 5vh;
  background-color: #748cab;
  border: 2px solid black;
  border-radius: 1rem;
}

#send {
  background-color: #748cab;
  width: 15%;
  margin: 1rem auto;
  color: #000000;
  border: 4px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: x-large;
}

.webproj {
  margin: auto;
  margin-top: 10vh;
  width: 80vw;
  overflow: hidden;
}

.cadProj {
  margin: auto;
  width: 80vw;
  overflow: hidden;
  margin-bottom: 1rem;
}

.proj {
  height: 50vh;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.proj p {
  margin: 0;
}
.proj img {
  height: 75%;
  width: auto;
}
.proj a {
  background-color: #748cab;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 1rem;
  border: 2px solid black;
  font-size: large;
  color: #000000;
  text-decoration: none;
}

.poke {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.poke img {
  width: 48%;
}

.webCarousel {
  width: 100%;
  display: flex;
  justify-content: start;
}
.webCarousel article {
  flex: 0 0 100%;
}

.hide {
  width: 95%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}

.webStyle {
  background-color: #3e5c76;
  border: 0.5rem solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.webStyle button {
  background-color: #748cab;
  width: 15%;
  margin: 1rem auto;
  color: #000000;
  border: 4px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: x-large;
}

header {
  height: 10vh;
  background-color: #1d2d44;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: sticky;
  top: 0;
}
header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header div img {
  margin: 1rem;
  height: 50%;
  width: auto;
}

article {
  overflow: hidden;
}

#weatherInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem;
  margin: 2rem auto;
  width: 95%;
  border: 3px solid black;
  border-radius: 2rem;
}

#weatherMain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1px;
  margin: 1rem auto;
  width: 95%;
}

.aboutMain {
  margin-top: 6rem;
}
.aboutMain section {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  font-size: x-large;
  background-color: #3e5c76;
  color: #f0ebd8;
  border-radius: 5px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.certList {
  display: flex;
  justify-content: space-evenly;
}
.certList .certImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}
.certList .certImg img {
  height: 100%;
}

.me {
  float: right;
  margin: 0.5rem;
  margin-top: 0;
  border: 2px solid black;
  border-radius: 2rem;
  width: 25%;
  max-width: 100%;
  max-height: 100%;
}

#weatherDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem;
  margin: 2rem auto;
  width: 95%;
}

.Clear {
  background-color: #afdfff;
  color: #000000;
}

.Clouds {
  background-color: #c8d2d8;
  color: #000000;
}

.Atmosphere {
  background-color: #bdb37d;
}

.Rain {
  background-color: #6995b3;
}

.Thunderstorm {
  background-color: #58636b;
}

.Drizzle {
  background-color: #81bcc7;
}

.Snow {
  background-color: #e3f4ff;
  color: #000000;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  background-color: #0d1321;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
nav a {
  background-color: #748cab;
  padding: 10px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: xx-large;
}

i {
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  background-color: #1d2d44;
  border-top: 4px solid black;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
}
footer #socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 2rem auto;
  width: 75%;
}
footer #socials a i {
  font-size: 3rem;
}

#desc {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#desc article {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: #3e5c76;
  color: #f0ebd8;
  border-radius: 5px;
}

#skills #carousel {
  height: 85%;
  width: 60vw;
  display: flex;
  align-items: center;
  position: relative;
}
#skills #carousel div {
  flex: 0 0 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
#skills #carousel div img {
  width: 20%;
  height: 100%;
  position: relative;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #desc {
    margin-top: 2rem;
  }
  .certList section {
    font-size: larger;
  }
  .aboutMain section {
    font-size: larger;
  }
  header {
    background-color: #1d2d44;
    flex-direction: row;
    height: 10vh;
  }
  header div {
    width: 55%;
    justify-content: start;
  }
  header div img {
    height: 80%;
  }
  nav {
    width: 45%;
    background-color: #1d2d44;
    border: 0px;
  }
  .links {
    width: 35%;
    margin: 2rem;
  }
  .contact-form {
    margin: 2rem;
  }
  .contacts {
    align-items: start;
    justify-content: start;
  }
  .contacts .contactLayout {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .certImg {
    max-height: 30vh;
  }
  .certImg img {
    height: 100%;
    width: auto;
  }
  .webproj {
    width: 50vw;
  }
  .cadProj {
    width: 50vw;
  }
  #intro {
    font-size: larger;
  }
  footer {
    justify-content: space-evenly;
  }
  footer #socials {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
  }
  footer #socials a i {
    font-size: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */