.Clear{
    background-color: #afdfff;
    color: #000000;

}
.Clouds{
    background-color: #c8d2d8;
    color: #000000;


}
.Atmosphere{
    background-color: #bdb37d;

}
.Rain{
    background-color: #6995b3;

}
.Thunderstorm{
    background-color: #58636b;

}
.Drizzle{
    background-color: #81bcc7;

}
.Snow{
    background-color: #e3f4ff;
    color: #000000;

}