body{
    margin: 0;
    background-color: #0d1321;
    color:#f0ebd8;
    height: auto;

}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 95%;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 70%;
    background-color: #3e5c76;
    border: 3px solid black;
    border-radius: 2rem;
}
.contact-form{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    margin: 2rem auto;
    min-width: 70%;
    width: fit-content;
    background-color: #3e5c76;
    border: 3px solid black;
    border-radius: 2rem;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding: 1rem;
        margin: 2rem auto;
        width: 90%;
        background-color: #3e5c76;
        border-radius: 2rem;
        .emailInp{
            width: 85%;
            height: 5vh;
            background-color: #748cab;
            border: 2px solid black;
            border-radius: 1rem;
        }
    }
}
header{
    background-color: #1d2d44;
    display: flex;
    flex-direction: column;
    z-index: 2;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        img{
            margin: 1rem;
            height: 80%;
            width: auto;
        };
    }
    position: sticky;
    top: 0;
}
article{
    overflow: hidden;
}
#weatherInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    margin: 2rem auto;
    width: 95%;
    border: 3px solid black;
    border-radius: 2rem;
}
#weatherMain{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1px;
    margin: 1rem auto;
    width: 95%;
}
#weatherDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    margin: 2rem auto;
    width: 95%;

}
.Clear{
    background-color: #afdfff;
    color: #000000;

}
.Clouds{
    background-color: #c8d2d8;
    color: #000000;


}
.Atmosphere{
    background-color: #bdb37d;

}
.Rain{
    background-color: #6995b3;

}
.Thunderstorm{
    background-color: #58636b;

}
.Drizzle{
    background-color: #81bcc7;

}
.Snow{
    background-color: #e3f4ff;
    color: #000000;

}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: #0d1321;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    a{
        background-color: #748cab;
        padding: 10px 5px;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        font-size: xx-large;
    }
}
i{
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
}
footer{
    display: flex;
    background-color: #1d2d44;
    border-top: 4px solid black;
    justify-content: space-evenly;
    padding: 1rem;
}
#desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    article{
        width: 80%;
        margin: 10px auto;
        padding: 20px;
        background-color: #3e5c76;
        color: #f0ebd8;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

#skills{
    #carousel {
        height: 85%;
        width: 60vw;
        // overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;

        div {
            flex: 0 0 100%;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 20%;
                height: 100%;
                position: relative;
                opacity: 1;
            }
        }
    }

}


@media screen and (min-width: 768px) {
    header {
        background-color: #1d2d44;
        flex-direction: row;
        height: 10vh;
        div{
            width: 55%;

        }
    }

    nav{
        width: 45%;
        background-color: #1d2d44;
        border: 0px

    };
    .links{
        width: 35%;
        margin: 2rem;

    };
    .contact-form{
        margin: 2rem;
    };
    .contacts{
        align-items: start;
        justify-content: start;
    }
    
}